body{
    margin: 0%;
}

header{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.logo{
    display: flex;
    counter-reset: ;


}
.logo img{
    height: 100px;
    
}
.name{
    color: brown;
}
a{
    text-decoration: none;
    color: black;
}