body{
    background-color: bisque;
}
.principal{
    color: brown;
display: flex;
justify-content: center;
height: 1opx;
    background-color: azure;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}